@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    background-color: #171717;
}

main {
    max-width: 1114px;
    margin: auto;
    width: 100%;
}

@media (max-width: 1200px) {
    main {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    main {
        max-width: 500px;
    }
}


